<section id="login">

    <h1>Login</h1>

    <p id="login-wrong-credentials" class="error"></p>
    <form id="formLogin">

        <label for="username">Username</label>
        <input id="username" type="text" name="username" required>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>

        <button type="submit">Login</button>

    </form>

    <span>
        <a href="#register">Create an account</a>
        <a href="#rest-password">Forgot password</a>
     </span>
</section>