<section id="register">

  <h1>Register</h1>

  <h4 id="register-other-error" class="error"></h4>
  <h4 id="register-account-created" class="success"></h4>

  <form id="formRegister">

    <p id="register-username-taken" class="error"></p>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" required>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>

    <button type="submit">Register</button>

  </form>

  <p>Already have an account?</p>
  <a href="#login">Login</a>
</section>